<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/loginStart" method="post"> 
    <input type="text" name="email" placeholder="Enter Your Email" required/> 
    <br /> <br />
    <input type="password" name="password" placeholder="Enter Your Password" required>
    <br /> <br />
    <button type="submit">Login</button>
    <br /> <br />
    
</form>