<template>
	<div>
		<div>
			<page-one></page-one>
		</div>
	</div>
</template>

<script>
import Page1 from "../Pages/Page1.vue";
export default {
	components: {
		pageOne: Page1
	}
};
</script>

<style></style>
