
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/products/create" method="post">
          <div class="form-group">
              <input type="text" name="product_name" class="form-control" placeholder="Product Name" />
          </div>
          <div class="form-group">
              <input type="text" name="price" class="form-control" placeholder="Price" />
          </div>
          <div class="form-group">
              <input type="text" name="brand" class="form-control" placeholder="Brand" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Product</button>
          </div>
      </form>
    </div>
  </div>
</div>
