<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/products/edit/{{product.id}}" method="post">
          <div class="form-group">
              <input type="text" name="product_name" class="form-control" value={{product.product_name}} />
          </div>
          <div class="form-group">
              <input type="text" name="sku" class="form-control" value={{product.price}}  />
          </div>
          <div class="form-group">
              <input type="text" name="price" class="form-control" value={{product.brand}}  />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Product</button>
          </div>
      </form>
    </div>
  </div>
</div>