<div class="container">
  <h1>CRUD Operations</h1>
  <h2>{{title}}</h2>
  <a href="/products/create-form" class="btn btn-success">Create Product</a>
  <br /><br />
  <table class="table">
    <tr>
      <th>#ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Brand</th>
    </tr>
    {{#each products}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.product_name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.brand}}</td>
        <td>
            <a href="/products/edit-form/{{this.id}}" class="btn btn-info btn-sm">Edit</a>
            <a href="/products/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>