<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc939b">  <td>20/02/28 16:26:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="addFiatCurrency.addBank()[pri:0, instance:restAssuredApiAutomation.addFiatCurrency@27a8c74e]">addBank</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/02/28 16:26:46</td>   <td>-7700</td> <td>&nbsp;</td><td title="&gt;&gt;addFiatCurrency.callDriver()[pri:0, instance:restAssuredApiAutomation.addFiatCurrency@27a8c74e]">&gt;&gt;callDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/02/28 16:26:52</td>   <td>-1833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;addFiatCurrency.setup()[pri:0, instance:restAssuredApiAutomation.addFiatCurrency@27a8c74e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@352359770</td>   <td></td> </tr>
</table>
