<template>
	<div>
		<div class="results-body d-flex flex-column">
			<div class="row h-100">
				<!-- PEOPLE WHO GIVE FEEDBACK TO PETER -->
				<div class="col-6">
					<div class="feedback-from card h-100 card-body bg- white p-0">
						<div class="feedback-from-header d-flex justify-content-between">
							<h3 class="text-truncate">People who give feedback to Peter</h3>
							<a
								class="align-middle"
								href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
								>Add new</a
							>
						</div>
						<div class="feedback-from-body h-100 d-glex flex-column">
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">John Walter</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Franz Liebcneth</div>
								<div class="feedback-from-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Rosa Luxemburg</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">John Walter</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Franz Liebcneth</div>
								<div class="feedback-from-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Rosa Luxemburg</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">John Walter</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Franz Liebcneth</div>
								<div class="feedback-from-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">Rosa Luxemburg</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-from-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-from-item-name">John Walter</div>
								<div class="feedback-from-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-from-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-from-item-delete text-right"
									>Delete</a
								>
							</div>
						</div>
					</div>
				</div>
				<!-- PEOPLE PETER GIVES FEEDBACK-->
				<div class="col-6">
					<div class="feedback-to card card-body h-100 bg- white p-0">
						<div class="feedback-to-header d-flex justify-content-between">
							<h3 class="text-truncate">People to who Peter gives feedback</h3>
							<a
								class="align-middle"
								href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
								>Add new</a
							>
						</div>
						<div class="feedback-to-body d-glex flex-column">
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">John Walter</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Franz Liebcneth</div>
								<div class="feedback-to-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Rosa Luxemburg</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">John Walter</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Franz Liebcneth</div>
								<div class="feedback-to-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Rosa Luxemburg</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">John Walter</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Franz Liebcneth</div>
								<div class="feedback-to-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">Rosa Luxemburg</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-to-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-to-item-name">John Walter</div>
								<div class="feedback-to-item-title d-none d-md-block">CEO</div>
								<div class="feedback-to-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-to-item-delete text-right"
									>Delete</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-4">
				<!-- BOSSES WHO PETER GIVES FEEDBACK-->
				<div class="col-6">
					<div class="feedback-boss card card-body h-100 bg- white p-0">
						<div
							class="feedback-boss-header d-flex justify-content-between align-items-center"
						>
							<h3 class="text-truncate">Bosses who Peter gives feedback</h3>
							<a
								class="align-middle"
								href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
								>Add new</a
							>
						</div>
						<div class="feedback-boss-body d-glex flex-column">
							<div
								class="feedback-boss-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-boss-item-name">John Walter</div>
								<div class="feedback-boss-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-boss-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-boss-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-boss-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-boss-item-name">Franz Liebcneth</div>
								<div class="feedback-boss-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-boss-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-boss-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-boss-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-boss-item-name">Rosa Luxemburg</div>
								<div class="feedback-boss-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-boss-item-time d-none d-xl-block">
									Once per month
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-boss-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-boss-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-boss-item-name">John Walter</div>
								<div class="feedback-boss-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-boss-item-time d-none d-xl-block">
									Every 2nd week
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-boss-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-boss-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-boss-item-name">Franz Liebcneth</div>
								<div class="feedback-boss-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-boss-item-time d-none d-xl-block">
									Weekly
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-boss-item-delete text-right"
									>Delete</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<!-- PETER MEMBER OF TEAM-->
					<div class="feedback-team card card-body h-100 bg- white p-0">
						<div class="feedback-team-header d-flex justify-content-between">
							<h3 class="text-truncate">Peter is memeber of team</h3>
							<a
								class="align-middle"
								href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
								>Add new</a
							>
						</div>
						<div class="feedback-team-body d-glex flex-column">
							<div
								class="feedback-team-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-team-item-name">
									Javascript Development
								</div>
								<div class="feedback-team-item-title d-none d-lg-block">
									Basic Member
								</div>
								<p class="d-none d-none d-xl-block">-</p>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-team-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-team-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-team-item-name">Web team</div>
								<div class="feedback-team-item-title d-none d-lg-block">
									Lead lead
								</div>
								<p class="d-none d-none d-xl-block">-</p>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-team-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-team-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-team-item-name">
									Javascript Development
								</div>
								<div class="feedback-team-item-title d-none d-lg-block">
									Basic Member
								</div>
								<p class="d-none d-none d-xl-block">-</p>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-team-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-team-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-team-item-name">Web team</div>
								<div class="feedback-team-item-title d-none d-lg-block">
									Lead lead
								</div>
								<p class="d-none d-none d-xl-block">-</p>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-team-item-delete text-right"
									>Delete</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<!-- ADMIN RIGHTS-->
					<div class="feedback-team card card-body h-100 bg- white p-0">
						<div class="feedback-team-header d-flex justify-content-between">
							<h3 class="text-truncate">Admin rights to Peter's profile</h3>
							<a
								class="align-middle"
								href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
								>Add new</a
							>
						</div>
						<div class="feedback-team-body d-glex flex-column">
							<div
								class="feedback-admin-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-admin-item-name">John Walter</div>
								<div class="feedback-admin-item-title d-none d-md-block">
									CEO
								</div>
								<div class="feedback-admin-item-time d-none d-xl-block">
									Adming rights
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-admin-item-delete text-right"
									>Delete</a
								>
							</div>
							<div
								class="feedback-admin-item d-flex justify-content-between align-items-center"
							>
								<div class="feedback-admin-item-name">Franz Liebcneth</div>
								<div class="feedback-admin-item-title d-none d-md-block">
									Lawyer
								</div>
								<div class="feedback-admin-item-time d-none d-xl-block">
									View rights only
								</div>
								<a
									href="https://markrajk.github.io/all-pages-together/people-settings/index.html#"
									class="feedback-admin-item-delete text-right"
									>Delete</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div
						class="feedback-buttons d-flex align-items-center justify-content-end"
					>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html"
							class="feedback-buttons-settings d-flex align-items-center justify-content-center"
							><i class="material-icons">layers</i>Settings log</a
						>
						<a
							href="https://markrajk.github.io/all-pages-together/people-settings/index.html"
							class="feedback-buttons-delete d-flex align-items-center justify-content-center"
						>
							<i class="material-icons">delete_forever</i> Delete user</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style>
.results-body {
	font-family: "Lato", sans-serif;
	height: calc(98% - 15.9rem);
	overflow-y: auto;
	overflow-x: hidden;
}

.results-body .row:nth-of-type(1) {
	max-height: 33.2vh;
	height: 100%;
	min-height: 23rem;
}

.results-body .row:nth-of-type(1) .col-6 {
	max-height: 33.2vh;
	height: auto;
	min-height: 23rem;
}

.results-body .feedback-from,
.results-body .feedback-to {
	max-height: auto;
	height: 100%;
	min-height: 23rem;
}

.results-body .feedback-boss,
.results-body .feedback-team,
.results-body .feedback-admin {
	max-height: 15.7rem;
}

.results-body .feedback-from-header,
.results-body .feedback-to-header,
.results-body .feedback-boss-header,
.results-body .feedback-team-header,
.results-body .feedback-admin-header {
	padding: 2.7rem;
	border-bottom: solid 1.5px #eaebee;
}

@media (max-width: 1500px) {
	.results-body .feedback-from-header,
	.results-body .feedback-to-header,
	.results-body .feedback-boss-header,
	.results-body .feedback-team-header,
	.results-body .feedback-admin-header {
		padding: 2.43rem;
	}
}

.results-body .feedback-from-header a,
.results-body .feedback-to-header a,
.results-body .feedback-boss-header a,
.results-body .feedback-team-header a,
.results-body .feedback-admin-header a {
	height: 2.1rem;
	margin-left: 1rem;
	white-space: nowrap;
}

@media (max-width: 1500px) {
	.results-body .feedback-from-header a,
	.results-body .feedback-to-header a,
	.results-body .feedback-boss-header a,
	.results-body .feedback-team-header a,
	.results-body .feedback-admin-header a {
		height: 1.89rem;
		margin-left: 0.9rem;
	}
}

.results-body .feedback-from-header h3,
.results-body .feedback-to-header h3,
.results-body .feedback-boss-header h3,
.results-body .feedback-team-header h3,
.results-body .feedback-admin-header h3 {
	height: 2.1rem;
	margin-bottom: 0;
	font-size: 1.8rem;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.12px;
	color: #1a173b;
}

@media (max-width: 1500px) {
	.results-body .feedback-from-header h3,
	.results-body .feedback-to-header h3,
	.results-body .feedback-boss-header h3,
	.results-body .feedback-team-header h3,
	.results-body .feedback-admin-header h3 {
		height: 1.89rem;
		font-size: 1.62rem;
	}
}

.results-body .feedback-from-header a,
.results-body .feedback-to-header a,
.results-body .feedback-boss-header a,
.results-body .feedback-team-header a,
.results-body .feedback-admin-header a {
	height: 1.7rem;
	font-size: 1.4rem;
}

@media (max-width: 1500px) {
	.results-body .feedback-from-header a,
	.results-body .feedback-to-header a,
	.results-body .feedback-boss-header a,
	.results-body .feedback-team-header a,
	.results-body .feedback-admin-header a {
		height: 1.53rem;
		font-size: 1.26rem;
	}
}

.results-body .feedback-from-body,
.results-body .feedback-to-body,
.results-body .feedback-boss-body,
.results-body .feedback-team-body,
.results-body .feedback-admin-body {
	height: 100% !important;
	overflow-y: auto;
}

.results-body .feedback-from-item,
.results-body .feedback-to-item,
.results-body .feedback-boss-item,
.results-body .feedback-team-item,
.results-body .feedback-admin-item {
	display: grid;
	height: 3.9rem;
	padding: 0 2.7rem;
	font-size: 1.3rem;
	color: #000a19;
	white-space: nowrap;
}

@media (max-width: 1500px) {
	.results-body .feedback-from-item,
	.results-body .feedback-to-item,
	.results-body .feedback-boss-item,
	.results-body .feedback-team-item,
	.results-body .feedback-admin-item {
		height: 3.51rem;
		padding: 0 2.43rem;
		font-size: 1.17rem;
	}
}

.results-body .feedback-from-item:not(:last-child),
.results-body .feedback-to-item:not(:last-child),
.results-body .feedback-boss-item:not(:last-child),
.results-body .feedback-team-item:not(:last-child),
.results-body .feedback-admin-item:not(:last-child) {
	border-bottom: solid 1.5px #eaebee;
}

.results-body .feedback-from-item a,
.results-body .feedback-to-item a,
.results-body .feedback-boss-item a,
.results-body .feedback-team-item a,
.results-body .feedback-admin-item a {
	width: 15%;
}

@media (max-width: 1199px) {
	.results-body .feedback-from-item a,
	.results-body .feedback-to-item a,
	.results-body .feedback-boss-item a,
	.results-body .feedback-team-item a,
	.results-body .feedback-admin-item a {
		width: 15%;
	}
}

.results-body .feedback-from-item > *:not(:last-child),
.results-body .feedback-to-item > *:not(:last-child),
.results-body .feedback-boss-item > *:not(:last-child),
.results-body .feedback-team-item > *:not(:last-child),
.results-body .feedback-admin-item > *:not(:last-child) {
	width: 28%;
}

@media (max-width: 1199px) {
	.results-body .feedback-from-item > *:not(:last-child),
	.results-body .feedback-to-item > *:not(:last-child),
	.results-body .feedback-boss-item > *:not(:last-child),
	.results-body .feedback-team-item > *:not(:last-child),
	.results-body .feedback-admin-item > *:not(:last-child) {
		width: 25%;
	}
}

.results-body .feedback-from-item > *:not(:last-child):first-child,
.results-body .feedback-to-item > *:not(:last-child):first-child,
.results-body .feedback-boss-item > *:not(:last-child):first-child,
.results-body .feedback-team-item > *:not(:last-child):first-child,
.results-body .feedback-admin-item > *:not(:last-child):first-child {
	width: 40%;
	margin-right: 1rem;
}

@media (max-width: 1199px) {
	.results-body .feedback-from-item > *:not(:last-child):first-child,
	.results-body .feedback-to-item > *:not(:last-child):first-child,
	.results-body .feedback-boss-item > *:not(:last-child):first-child,
	.results-body .feedback-team-item > *:not(:last-child):first-child,
	.results-body .feedback-admin-item > *:not(:last-child):first-child {
		width: 42%;
	}
}

.results-body .feedback-buttons {
	white-space: nowrap;
}

.results-body .feedback-buttons a {
	padding: 0 1rem;
	display: inline-block;
	width: 11.1rem;
	height: 3.1rem;
	border-radius: 4px;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.25;
	color: #fff;
}

@media (max-width: 1500px) {
	.results-body .feedback-buttons a {
		width: 9.99rem;
		height: 2.79rem;
		font-size: 1.08rem;
	}
}

@media (max-width: 991px) {
	.results-body .feedback-buttons a {
		width: 8.1rem;
	}
}

.results-body .feedback-buttons a i {
	margin-right: 0.5rem;
	font-size: 1.7rem;
}

@media (max-width: 1500px) {
	.results-body .feedback-buttons a i {
		margin-right: 0.45rem;
		font-size: 1.53rem;
	}
}

@media (max-width: 991px) {
	.results-body .feedback-buttons a i {
		margin-right: 0.3rem;
	}
}

.results-body .feedback-buttons-settings {
	background-color: #404040;
}

.results-body .feedback-buttons-delete {
	margin-left: 1.17rem;
	background-color: #ff3e3e;
}
</style>
