<template>
	<div>
		<app-layout></app-layout>
	</div>
</template>

<script>
import Layout from "./components/Layout";
export default {
	components: {
		appLayout: Layout
	}
};
</script>

<style>
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
</style>
