<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3c998">  <td>20/04/10 16:52:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.addFiatCurr(java.lang.String)[pri:0, instance:projet.LoginTest@5faeada1]">addFiatCurr</td> 
  <td>main@422392391</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/04/10 16:52:15</td>   <td>-18332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:projet.LoginTest@5faeada1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@422392391</td>   <td></td> </tr>
<tr bgcolor="e3c998">  <td>20/04/10 16:52:54</td>   <td>20512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:projet.LoginTest@5faeada1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@422392391</td>   <td></td> </tr>
</table>
